<a href="https://colab.research.google.com/github/bimajr/B_2109116075_Quiz2/blob/main/B_2109116075_Quiz2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pertemuan 2

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv("credit_card_example.csv")

FileNotFoundError: ignored

In [ ]:
# Tampilkan data
df

In [ ]:
# Untuk memfilter data dengan umur diatas 30
df_2 = df[df["Age"]>30]

In [ ]:
df_2

## Visualisasi

Sumber https://seaborn.pydata.org/

In [ ]:
# Lihat data
df_2

In [ ]:
# Perbandingan
sns.countplot(data=df_2,x="Sex")
# Coba tampilkan yang settlement size

In [ ]:
sns.countplot(data=df_2,x="Settlement size")

In [ ]:
# Distribusi
sns.histplot(data=df_2,x="Age",kde=True)
# Coba tampilkan yang income

In [ ]:
sns.boxplot(data=df_2,x="Age")

In [ ]:
# Relationship
sns.scatterplot(data=df_2,x="Age",y="Income")
# heatmap

In [ ]:
import plotly.express as px

In [ ]:
# https://plotly.com/python/pie-charts/
px.pie(df_2,names="Education")
# Coba tampilkan yang jenis kelamin

# Pertemuan 3

In [23]:
import pandas as pd
import seaborn as sns
!pip install missingno as mnso
import missingno as mnso

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: missingno in /usr/local/lib/python3.8/dist-packages (0.5.2)
ERROR: Could not find a version that satisfies the requirement as (from versions: none)
ERROR: No matching distribution found for as

In [4]:
df = pd.read_csv("train.csv")

In [5]:
# Menampilkan DataFrame
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [9]:
# Statistik
# Mean-median-modus-stdev-var

print('Mean Fare :' ,df['Fare'].mean())
print('Median Fare :' ,df['Fare'].median())
print('Mode Fare :' ,df['Fare'].mode()) #-> outputnya bisa tuple [0]
print('Stdev Fare :' ,df['Fare'].std()) #-> outputnya bisa tuple [0]

# Coba tampilkan mean-media-variance dari Age
# Kalau variance gaboleh pakai df.age.var()

mean = df["Age"].mean()
median = df["Age"].median()
variance = df["Age"].var()

print("Mean Age:", mean)
print("Median Age:", median)
print("Variance of Age:", variance)

Mean Fare : 32.204207968574636
Median Fare : 14.4542
Mode Fare : 0    8.05
dtype: float64
Stdev Fare : 49.6934285971809
Mean Age: 29.69911764705882
Median Age: 28.0
Variance of Age: 211.01912474630802

In [10]:
# Korelasi

# Covariance
# Seberapa besar persebarannya. Tapi bedanya ini perlu 2 variabel

# Contoh
print("Cov untuk umur dan Biaya tiket ",df.Age.cov(df.Fare))

Cov untuk umur dan Biaya tiket  73.84902981461926

In [11]:
df.corr()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

In [12]:
# Coba tampilkan korelasi untuk Age dan Fare
# Pakai rumus cov(Age,Fare)/ (std(age))*(std(fare))

# cov(Age,Fare) / df["Age"].std() * df["..."].std()
covariance = df["Age"].cov(df["Fare"])
std_age = df["Age"].std()
std_fare = df["Fare"].std()
correlation = covariance / (std_age * std_fare)

print("Korelasi antara Age dan Fare:", correlation)

Korelasi antara Age dan Fare: 0.10230218829289538

In [14]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [15]:
df.isna().sum() /len(df) * 100

PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64

In [21]:
# Hapus kolom
df2 = df.drop(columns=["Cabin"])

In [22]:
df2.isna().sum() /len(df2) * 100

PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Embarked        0.224467
dtype: float64

In [25]:
# Tugas
# Coba fillna untuk kolom embarked, jangan lupa bukan pakai df tapi df2
# df2.Age = df2.Age.fillna(df2.Age.median())

df2.Embarked = df.Embarked.fillna(df.Embarked.mode()[0])
df2.isna().sum() /len(df2) * 100

PassengerId     0.00000
Survived        0.00000
Pclass          0.00000
Name            0.00000
Sex             0.00000
Age            19.86532
SibSp           0.00000
Parch           0.00000
Ticket          0.00000
Fare            0.00000
Embarked        0.00000
dtype: float64